@import url('https://fonts.googleapis.com/css?family=Asap:400,500i,700');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;

}

body{
	background-color: #292C34;
}
header{
	background: white;
	padding: 20px;


}

img{

	max-width: 70%

}

header > h1 {
	color: #25272E;
	text-align: center;
	font-family: Asap, sans-serif;
}



.result{
	font-size: 40px;
	color: white;
	padding: 20px;

}
.result >p{
	text-align:center;
	font-weight: bold;
	font-family: Asap, san-serif;

}

.choices{
	margin-top: 50px 0;
	text-align: center;

}
.choice{

	border:4px solid white;
	border-radius: 50%;
	margin: 0 20px;
	padding: 10px;
	display: inline-block;
	transition: all 1s ease;



}



.choice:hover {
	cursor: pointer;
	background:#24272E;
}
