@import url('https://fonts.googleapis.com/css?family=Asap:400,500i,700');


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  width: 85%;

  margin: auto auto;
}
.grid {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 4rem;
    grid-template-areas:
    "t-1 t-2"
    "t-3 t-4"
    "t-5 t-6"
    "t-7 t-8"
    "t-9 t-10"
    "t-11 . ";
<<<<<<< HEAD

 
    
=======
>>>>>>> second commit

 
    


} 

.grid__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


header{
	background: white;
	padding: 60px;
	grid-area: header;


}
header > h1 {
	color: #25272E;
	text-align: center;
	font-family: Asap, sans-serif;
	font-size: 60px;
}
header > h5 {
	color: #25272E;
	text-align: center;
	font-family: Asap, sans-serif;
	font-size: 10px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__t-1{
	grid-area: topic_one;
	display: grid;
}
.grid__t-2{
	grid-area: topic_two;
	display: grid;
}
.grid__t-3{
	grid-area: topic_three;
	display: grid;
}
.grid__t-4{
	grid-area: topic_four;
	display: grid;
}
.grid__t-5{
	grid-area: topic_five;
	display: grid;
}
.grid__t-6{
	grid-area: topic_six;
	display: grid;
}
.grid__t-7{
	grid-area: topic_seven;
	display: grid;
}
.grid__t-8{
	grid-area: topic_eight;
	display: grid;
}
.grid__t-9{
	grid-area: topic_nine;
	display: grid;
}
.grid__t-10{
	grid-area: topic_ten;
	display: grid;
}

.grid__t-11{
	grid-area: topic_eleven;
	display: grid;
}



<<<<<<< HEAD
  @media only screen and (max-device-width: 768px)
=======
  @media screen and (max-width: 750px)
>>>>>>> second commit

{
 .grid {
    
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(11, 1fr);
<<<<<<< HEAD
  grid-gap: 4rem;
=======
  grid-gap: 1rem;
>>>>>>> second commit
  grid-template-areas:
  "t_1"
  "t_2"
  "t_3"
  "t_4"
  "t_5"
  "t_6"
  "t_7"
  "t_8"
  "t_9"
  "t_10"
  "t_11";


}


<<<<<<< HEAD
}
=======
}
>>>>>>> second commit
